<style>

    div.margintop {
        margin-top: 10px;
    }

    div.marginleft {
        margin-left: 15px;
    }

    .tituloaba {
        color: #3c8dbc;
        font-variant: small-caps;
        font-weight: bold;
    }
</style>

<!--CRIANDO ABA-->
<ul class="nav nav-tabs" id="myTab">
    <li class="nav-item active">
        <a class="nav-link active" href="#recebimento" data-toggle="tab"><span class="tituloaba">Recebimento</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#ne" data-toggle="tab"><span class="tituloaba">Nota de Empenho</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#nf" data-toggle="tab"><span class="tituloaba">Nota Fiscal</span></a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane active" id="recebimento">
            <div class="row">
                <div class="box box-solid col-xs-12">
                    
                        <div class="box-header ">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <b> NE: </b>(NumeroNe)<br>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <b> Status: </b>(StatusDescricao)<br>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <b>Fornecedor: </b>(CNPJCpfDesc)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <b> Nota Fiscal: </b>
                                </div>

                                <div class="col-sm-12 col-md-2">
                                    <b> Data: </b>
                                </div>
                                <div class="col-sm-12 col-md-7" style="text-align:right;">
                                    <label></label>
                                    <p>Vlr Tot NE: R$ (Valor)</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-8" style="text-align:left;">
                                    <br />
                                    <p>Local de entrega: (LocalEntrega)</p>
                                </div>
                                <div class="col-sm-12 col-md-4" style="text-align:right;">
                                    <p>Vlr Tot NF: R$ (TotalNF)</p>
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default ">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-1"><b>Seq</b></div>
                                            <div class="col-md-1"><b>SiaFisico</b></div>
                                            <div class="col-md-2"><b>Descrição</b></div>
                                            <div class="col-md-1"><b>Unidadade</b></div>
                                            <div class="col-md-1"><b>Marca</b></div>
                                            <div class="col-md-1"><b>Modelo</b></div>
                                            <div class="col-md-1"><b>V.Unit.</b></div>
                                            <div class="col-md-1"><b>Qtd NE</b></div>
                                            <div class="col-md-1"><b>Vlr Unit NF</b></div>
                                            <div class="col-md-1"><b>Qtd Rec NF</b></div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-1">(Sequencia)</div>
                                                <div class="col-md-1">(MaterialSiafisico)</div>
                                                <div class="col-md-2 text-justify ">(descricao))</small></div>
                                                <div class="col-md-1">(unidade)</div>
                                                <div class="col-md-1">(marca)</div>
                                                <div class="col-md-1">(modelo)</div>
                                                <div class="col-md-1">(valorunitario)</div>
                                                <div class="col-md-1">(qtdeitem)</div>
                                                <div class="col-md-1">(vl Un NF)</div>
                                                <div class="col-md-1">(qtd NF)</div>
                                                <div class="col-md-1">
                                                    <a data-toggle="collapse" data-parent="#accordion" class="btn pull-right box-tools small-box-footer" href="#@Html.DisplayFor(i => i.ListaNF[n].Itens[k].ItemKey.Sequencia)"
                                                       onclick="VerificarSaldoNE(@Model.Uge, @Model.Uo, '@Model.NumeroNe', @Model.ListaNF[n].Itens[k].ItemKey.Item, @k, '@Html.DisplayFor(i => i.ListaNF[n].Itens[k].ItemKey.Sequencia)');">
                                                        <i class="fa  fa-list-ol"> Detalhar</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="" class="ItemSeq panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Código</b>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <b>N. Série</b>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <b>Lote</b>
                                                    </div>
                                                </div>
                                                    <div class="row">
                                                        <div class="col-md-4">(Código)</div>
                                                        <div class="col-md-3">(Série)</div>
                                                        <div class="col-md-3">(Lote)</div>
                                                        <div class="col-md-2">
                                                            <div class="checkbox">
                                                                <label>
                                                                    Conferido
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="row">
                                                    <div class="col-md-12">(Observação do recebimento)</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label></label>
                                                        <button type="button" data-toggle="collapse" data-parent="#accordion" style="margin-top:20px" class="btn btn-default pull-left" href="#@Html.DisplayFor(i => i.ListaNF[n].Itens[k].ItemKey.Sequencia)">
                                                            <i class="fa  fa-close"> Voltar</i>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label></label>
                                                        <button type="submit" value="SALVARSERIE-@k" name="Submit" style="margin-top:20px" class="salvar btn btn-default pull-right">
                                                            <i class="fa fa-save"></i> Salvar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                
                            </div>
                        </div>                 
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1 col-md-3" style="text-align:left;">
                    <button type="button" class="btn btn-default pull-left" style="margin-top: 20px;">
                        <i class="fa fa-arrow-left"></i> Voltar
                    </button>
                    <button type="button" class="btn btn-default pull-left" style="margin-top: 20px; margin-left:5px;">
                        <i class="fa fa-arrow-left"></i> <span style="color:red;">Estorno</span>
                    </button>
                </div>

                <div class="col-sm-1 col-md-6">
                    <div class="clearfix">
                        <form>
                            <center>
                                <div class="form-group">
                                    <p style="margin-bottom: 0" for="exampleFormControlFile1">
                                        <i class="fa  fa-upload margin-r5"></i> Enviar arquivo de nota Fiscal, xml, ou documento com seriais
                                    </p>
                                    <input type="file" class="form-control-file btn btn-warning" id="exampleFormControlFile1">
                                </div>
                            </center>
                        </form>
                    </div>
                </div>

                <div class="col-sm-1 col-md-3" style="text-align:right;">
                    <div class="clearfix">
                        <button type="submit" value="NAOREC" name="Submit" style="margin-top:20px" class="btn btn-danger pull-left">
                            <i class="fa fa-times"></i> Não Receber
                        </button>
                        <button type="submit" value="REC" name="Submit" style="margin-top:20px; margin-left:5px;" class="btn btn-success pull-left">
                            <i class="fa fa-save"></i> Receber
                        </button>
                    </div>
                </div>
            </div>
    </div>

    <!--
        ****************************************
                  ABA NOTA DE EMPENHO
        ****************************************
    -->

    <div class="tab-pane  " id="ne">
        <div class="box box-solid row">
            <div class="row margintop marginleft">
                <div class=" col-sm-6">
                    <b> Nota de empenho: </b>(NumeroNe)<span class="hidden-xs"></span>
                </div>
                <div class="col-sm-6">
                    <b>Emissão: </b>(DataEmissao)<span class="hidden-xs"> </span>
                </div>
            </div>

            <div class="row margintop marginleft">
                <div class=" col-sm-6">
                    <b>UGE: </b>(Uge)<br>
                </div>

                <div class="  col-sm-6">
                    <b>Gestão: </b>(Gestao)<br>
                </div>
            </div>

            <div class="row marginleft ">
                <div class="  col-sm-6">
                    <b>CNPJ: </b>(CNPJCpf)<br>
                </div>

                <div class="  col-sm-6">
                    <b>Credor: </b>(CNPJCpfDesc)<br>
                </div>
            </div>

            <div class="row marginleft ">
                <div class="  col-sm-12">
                    <b>Endereco: </b>(Endereco)<br>
                </div>
            </div>

            <div class="row marginleft">
                <div class="  col-sm-6 col-xs-4">
                    <b>Cidade: </b>(Municipio)<br>
                </div>

                <div class="  col-sm-2 col-xs-3">
                    <b>UF: </b>(UF)<br>
                </div>

                <div class="  col-sm-4 col-xs-5">
                    <b>CEP: </b>(CEP)<br>
                </div>
            </div>

            <div class="row marginleft ">
                <div class="  col-sm-12">
                    <b>Origem do Material: </b>(OrigemMaterial)<span class="hidden-xs"> </span>
                </div>
            </div>

            <div class="row margintop marginleft ">
                <div class="  col-sm-6">
                    <b>Evento: </b>(Evento)<br>
                </div>

                <div class="  col-sm-4 col-xs-6">
                    <b> Natureza Despesa: </b>(NaturezaDespesa)<br>
                </div>


                <div class="  col-sm-2 col-xs-6">
                    <b>Fonte: </b>(Fonte)<br>
                </div>
            </div>

            <div class="row marginleft ">

                <div class="  col-sm-6">
                    <b>Programa de Trabalho: </b>(Pt)<br>
                </div>


                <div class="  col-sm-2 col-xs-4">
                    <b>UGR: </b>(ugr)<br>
                </div>

                <div class="  col-sm-2 col-xs-3">
                    <b>UO: </b>(Uo)<br>
                </div>

                <div class="  col-sm-2 col-xs-5">
                    <b> PI: </b>000.000.0100<span class="hidden-xs"></span>
                </div>
            </div>

            <div class="row  margintop marginleft ">
                <div class="  col-sm-6 col-xs-6">
                    <b>N. Processo: </b>(NumeroProcesso)<br>
                </div>
                <div class="  col-sm-6 col-xs-6">
                    <b>Acordo: </b>(Acordo)<br>
                </div>
            </div>

            <div class="row marginleft ">
                <div class="  col-sm-6">
                    <b>Tipo de Empenho: </b>(TipoEmpenho)<br>
                </div>
                <div class="  col-sm-6">
                    <b>REFER.LEGAL: </b>(ReferenciaLegal)<br>
                </div>
            </div>

            <div class="row marginleft">
                <div class="  col-sm-6 col-xs-6">
                    <b>Licitação: </b>(Licitacao)<br>
                </div>
                <div class="  col-sm-6 col-xs-6">
                    <b>Modalidade: </b>(Modalidade)<br>
                </div>
            </div>

            <div class="row marginleft">
                <div class="  col-sm-6">
                    <b>Empenho Original: </b>(EmpenhoOriginal)<br>
                </div>

                <div class="  col-sm-3 col-xs-6">
                    <b>N. Contrato: </b>(NumeroContrato)<br>
                </div>

                <div class="  col-sm-3 col-xs-6">
                    <b>N.OC: </b>(Oc)<br>
                </div>
            </div>

            <div class="row marginleft">
                <div class="  col-sm-6 col-xs-6">
                    <b>UGO: </b>(Ugo)&nbsp&nbsp<b>
                </div>

                <div class="  col-sm-6 col-xs-6">
                    Plano Interno: </b>(PlanoInterno)<br>
                </div>
            </div>

            <div class="row marginleft">
                <div class="  col-sm-6">
                    <b>Lançado Por: </b>(Lancadopor)<br>
                </div>

                <div class="  col-sm-6">
                    <b>Data de Lançamento: </b>(DataHoraLancamento)<span class="hidden-xs"></span>
                </div>
            </div>

            <div class="row margintop marginleft">
                <div class="  col-sm-12">
                    <b>Valor do Empenho: R$</b>(Valor)<span class="hidden-xs"></span>
                </div>
            </div>

            <div class="col-sm-12  col-lg-12 ">
                <div class="well well-sm well-lg ">
                    <div class="row ">
                        <div align="center"> <b>CRONOGRAMA</b></div>
                    </div>
                </div>
            </div>

            <div class="row marginleft">
                        <div class="  col-sm-2 col-xs-6" align="left">
                            <b>(item.MesExtenso)</b><br> (item.Valor)<br>
                        </div>
            </div>
                <div class="col-sm-12  col-lg-12 ">
                    <div class="well well-sm well-lg ">
                        <div class="row margintop">
                            <div class=" col-sm-4 col-xs-6">
                                <b>Sequência: </b>(Sequencia) <br>
                            </div>

                            <div class=" col-sm-4 col-xs-6">
                                <b>Item: </b>(Material) <br>
                            </div>

                            <div class=" col-sm-4 col-xs-6">
                                <b>Und Forn: </b>(item.Unidade) - (item.DescricaoUnidade)<br>
                            </div>

                            <div class=" col-sm-4 col-xs-6">
                                <b>Quantidade: </b>(item.QtdeItem)<br>
                            </div>

                            <div class=" col-sm-4 col-xs-6">
                                <b>Valor Unitário: </b>R$ (item.ValorUnitario) <br>
                            </div>

                            <div class=" col-sm-4 col-xs-6">
                                <b>Preço Total: </b>R$ (item.PrecoTotal)<br><br>
                            </div>

                            <div class="  col-sm-12" align="center">
                                <b>Descrição</b><br>
                            </div>
                            <div class="col-sm-12">
                               (item.Descricao)
                            </div><br>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="tab-pane " id="nf">
        <div class="box box-solid col-xs-12">
            <div class="box-header">
                <b> Nota Fiscal nº: </b> 123456
            </div>
        </div>
    </div>
</div>